.van-tab--active {
    color: #56B947 !important;
    border-bottom: 2px solid #56B947;
}

.van-tabs__nav {}

.van-tab {
    font-size: .7rem;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #999999;
}

.product-item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 17.5rem;
    height: 8.175rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
    padding: 1.05rem .8rem;
    margin-bottom: .35rem;
}

.product-item .right {
    width: 9rem;
}

.product-item .right p img {
    margin-right: .1rem;
}

.product-item .right p {
    font-size: .45rem;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #333333;

}

.product-item .right .title {
    font-size: .9rem;
    font-family: FZLanTingHeiS-B-GB;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1rem;
}

.btn_detail {
    width: 4.5rem;
    height: 1.225rem;
    background: #56B947;
    opacity: 0.9;
    border-radius: .6rem;
    font-size: .45rem;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.225rem;
    margin-top: .8rem;

}
.tabBody{
    margin-top:23px;
}









.my-swipe .van-swipe-item {
    color: #fff;
    width: 100%;
    height: 10rem;
    text-align: center;
}

.introduce .title {
    font-size: .85rem;
    font-family: PingFang SC;
    font-weight: 20rem;
    color: #000000;
    margin-left: .825rem;

}

.introduce P {
    margin-left: .825rem;
    font-size: .55rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #999999;
    line-height: 1.8rem;

}
.van-tabs__wrap{position: relative;}
.bottom{
    width: 100%;
    height: 2.25rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-top:1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
}
.pointBox{
    position: relative;
}
.van-tab__pane{
    padding-bottom: 2.225rem;
}
.bottom .left p{
    font-size: .6rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #666666;
    text-align: center;
}
.bottom .left .time{
font-size: .5rem;
color:#999; 
font-weight: 500;
}

.bottom .left{
    background: #fff;
    width: 7.77rem;
    height: 2.25rem;
    padding-top:.5rem;
    
}
.bottom .right{
   width: 11rem;
    height: 2.25rem;
background: #4EB83D;
font-size: .75rem;
font-family: PingFang SC;
font-weight: 800;
color: #FFFFFF;
text-align: center;
line-height: 2.25rem;

}
.step_jump2{
position: absolute;
top:200px;
}