.van-tab--active {
    color: #56B947 !important;
    border-bottom: 2px solid #56B947;
}

.productList .van-tabs__nav {
    padding-left:.7rem;
}

.van-tab {
    font-size: .7rem;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #999999;
}

.product-item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 17.5rem;
    height: 8.175rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0 auto;
    padding: 1.05rem .8rem;
    margin-bottom: .35rem;
}

.product-item .right {
    width: 9rem;
}

.product-item .right p img {
    margin-right: .1rem;
}

.product-item .right p {
    font-size: .45rem;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #333333;

}
 .tagImg{
    padding-left: .78rem;
    font-size: .45rem;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #333333;
    background: url("../images/icon_right.png");
    background-repeat: no-repeat;
    background-size: .7rem .62rem;
    margin-right: .55rem;
    white-space: nowrap;
    display: inline-block;
}

.introduce .tagImg{
    padding-left: 1.05rem;
    background-size: .75rem .7rem;
    background-position:0rem .5rem;
    font-size: .55rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #999999;
    margin-right: .35rem;
    line-height: 1.8rem;
}
.product-item .right .title {
    font-size: .9rem;
    font-family: FZLanTingHeiS-B-GB;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1rem;
}

.btn_detail {
    width: 4.5rem;
    height: 1.225rem;
    background: #56B947;
    opacity: 0.9;
    border-radius: .6rem;
    font-size: .55rem;
    font-family: FZLanTingHeiS-R-GB;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.225rem;
    margin-top: .8rem;

}

.tabBody {
    padding-top: 23px;
    background: #F5F5F5;
    padding-bottom: .6rem;
}

.van-tabs  p img {
    width: 100%;
}

.van-tabs__content{
    width: 100%;
    overflow-x: hidden;
}
.van-tabs  p strong{
    font-size: .75rem;
}
.van-tabs  p {
    font-size: .7rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #555555;
    line-height: 1.15rem;
    margin-top: .8rem;
    width: 100%;
    word-wrap:break-word;
    word-break:normal;
    padding:0 .85rem;
}

.van-tab__pane{
    width:100%;
}




.my-swipe .van-swipe-item {
    color: #fff;
    width: 100%;
    height: 10rem;
    text-align: center;
}

.introduce .title {
    font-size: .85rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #000000;
    margin-left: .825rem;

}

.introduce P {
    margin: 0 .825rem;
    font-size: .55rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #999999;
    line-height: 1.8rem;

}

.van-tabs__wrap {
    position: relative;
}

.bottom {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
}

.pointBox {
    position: relative;
}

.van-tab__pane {
    padding-bottom: 0;
}

.van-tabs__content {
    /* padding-bottom: 2.725rem; */
}

.bottom .left p {
    font-size: .6rem;
    font-family: PingFang SC;
    font-weight: bold;
    color: #666666;
    text-align: center;
}

.bottom .left .time {
    font-size: .5rem;
    color: #999;
    font-weight: 500;
}

.bottom .left {
    background: #fff;
    width: 7.77rem;
    height: 2.5rem;
    padding-top: .5rem;

}

.bottom .right {
    width: 11rem;
    height: 2.5rem;
    background: #4EB83D;
    font-size: .75rem;
    font-family: PingFang SC;
    font-weight: 800;
    color: #FFFFFF;
    text-align: center;
    line-height: 2.5rem;

}

.step_jump2 {
    position: absolute;
    top: 200px;
}
.van-pagination__item--active {
    background-color: #67C757;
    color: #fff !important;
}

.van-pagination__item {
    color: #555555;
}

.van-pagination {
    margin: 0;
    width: 100%;
}

.van-pagination__item {
    border: 1px solid #E0E0E0;
}
.van-pagination__item {
    min-width: 1.4rem;
    height: 1.4rem;
    line-height: 1.4rem;
    font-size: .6rem;
}
.btn_back {
    width: 4.325rem;
    height: 1.3rem;
    border: 1px solid #57BD46;
    border-radius: 5px;
    line-height: 1.3rem;
    font-size: .6rem;
    font-family: PingFang SC;
    font-weight: 500;
    color: #57BD46;
    text-align: center;
    margin: 1.65rem auto 1.8rem;

}
.nextPage div {
    color: rgba(87, 189, 70, 1);
}

.nextPage .text {
    color: rgba(87, 189, 70, 1);

}
.van-pagination__item--active {
    background-color: #67C757;
    color: #fff !important;
}
.van-pagination__item:active{
    background-color: #67C757;
}
